body {
  font-family: "Cuprum", "PTSans", "Arial", sans-serif;;
  font-size: 16px;
  line-height: auto;
  width: 100%;
}
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */

.main-header .icon {
  color: #6a7180;
  padding-right: 10px;
}
.user-block-1 .icon:hover {
  color: #ffffff;
}
.user-block-1 .icon:active {
  color: #8b8e94;
}
.promo-item-text h2 {
  font-size: 24px;
  font-family: "Cuprum";
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
}
.subtitle h2 {
  font-size: 36px;
  font-family: "Cuprum";
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
}
.headline h2 {
  font-size: 30px;
  font-family: "Cuprum";
  font-weight: normal;
  line-height: 30px;
  color: #32425c;
}
.service h2 {
  font-size: 30px;
  font-family: "Cuprum", "PTSans";
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  text-transform: uppercase;
}
.slider-item h2 {
  font-size: 36px;
  font-family: "Cuprum", "PTSans";
  line-height: 24px;
  color: #32425c;
  font-weight: normal;
  text-transform: uppercase;
}
.information h2 {
  font-size: 30px;
  font-family: "Cuprum", "PTSans";
  line-height: auto;
  color: #000000;
  font-weight: normal;
}
.headline-main h1 {
  font-size: 30px;
  font-family: "Cuprum";
  font-weight: normal;
  line-height: 30px;
  color: #32425c;
  padding: 30px 0 35px 30px;
  text-transform: uppercase;
}
.catalog h2 {
  font-size: 13px;
  font-family: "PTSans";
  font-weight: normal;
  line-height: 18px;
  color: #000000;
}
.about h1 {
  font-size: 30px;
  font-family: "Cuprum", "PTSans";
  line-height: 24px;
  color: #000000;
  font-weight: normal;
}
.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-header {
  background: #f1f5f7;
  height: 320px;
}
.user-block-1 {

  min-height: 40px;
  background: #293449;
  color: #ffffff;
}
.user-block-1 .item {
  float: left;
}
.item a {
  font-family: "Cuprum";
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  line-height: 18px;
}
.user-block-1 .item-logo {
  padding: 12px 0px;
  margin: 0;

}

.item-logo a {
  font-family: "Cuprum";
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  background: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  padding: 10px 55px;
  margin: 0;
}
.item-logo a:hover {
  font-family: "Cuprum";
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  background: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
  padding: 10px 55px;
}
.item-logo a:active {
  font-family: "Cuprum";
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  background: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
  padding: 10px 55px;
}
.user-block-1 .item-search {
    width: 270px;
}
.user-block-1 .item-bookmarks {
  padding-top: 16px;
}
.item-bookmarks a {
  width: 110px;
  padding: 15px 30px 10px 15px;

}
.item-bookmarks a:hover {
  width: 110px;
  padding: 15px 30px 14px 15px;
  background: #212a3a;
  color: #ffffff;
}
.item-bookmarks a:active {
  width: 110px;
  padding: 15px 30px 14px 15px;
  background: #161d29;
  color: #8b8e94;
}
.user-block-1 .item-basket {
  padding-top: 16px;
}
.item-basket a {
  width: 105px;
  padding: 15px 35px 15px 15px;
}
.item-basket a:hover {
  width: 105px;
  padding: 15px 35px 14px 15px;
  background: #212a3a;
  color: #ffffff;
}
.item-basket a:active {
  width: 105px;
  padding: 15px 35px 14px 15px;
  background: #161d29;
  color: #8b8e94;
}
.user-block-1 .item-order {
  padding-top: 15px;
  float: right;
}
.item-order a {
  width: 110px;
  background: #63a63e;
  padding: 14px 20px 15px 20px;
  margin-right: 10px;
}
.item-order a:hover {
  width: 110px;
  background: #5fbb2d;
  padding: 14px 20px 15px 20px;
  margin-right: 10px;
}
.item-order a:active {
  width: 110px;
  background: #518534;
  padding: 14px 20px 15px 20px;
  margin-right: 10px;
  color: #aac39b;
}
.user-block-2 .desc {
  font-family: "Cuprum";
  width: 200px;
  float: left;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  padding: 35px 50px;
}
.user-block-2 .call {
  float: left;
  margin-left: 0;
  padding-top: 35px;
}
.user-block-2 .phone {
  font-family: "Cuprum";
  font-size: 21px;
  line-height: 18px;
  color: #ee3643;
  border: 2px solid #ffffff;
  width: 300px;
  font-weight: bold;
}
.user-block-2 .icon-phone {
  padding: 0 15px;
}
.user-block-2 .text-phone {

  padding-right: 45px;
  padding-left: 20px;
}
.phone p {
  margin: 10px 0;
}
.user-block-2 .address {
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.buttons {
  float: right;
  padding: 55px 0px 30px 0px;
  display: inline-block;
}
.buttons .login {
  width: 105px;
}
.buttons a {
  font-family: "Cuprum";
  text-decoration: none;
  font-size: 21px;
  line-height: 18px;
  color: #000000;
  background: #ffffff;
  padding: 15px 20px;
  margin-right: 10px;
}
.buttons a:hover {
  font-family: "Cuprum";
  text-decoration: none;
  font-size: 21px;
  line-height: 18px;
  color: #ee3643;
  background: #ffffff;
  padding: 15px 20px;
  margin-right: 10px;
}
.buttons a:active {
  font-family: "Cuprum";
  text-decoration: none;
  font-size: 21px;
  line-height: 18px;
  color: #c5c5c5;
  background: #ffffff;
  padding: 15px 20px;
  margin-right: 10px;
}
.buttons .registration {
  margin-right: 10px;
}
.main-navigation {
  height: 60px;
  background: #32425c;
  box-shadow: 0 5px 0 0 #293449;
  margin: 10px 0;
}
.main-navigation ul {
  margin: 0;
  padding: 0 25px;
  list-style: none;
  font-size: 0;

}
.main-navigation li {
  display: inline-block;
  font-size: 17px;
  line-height: 17px;
  vertical-align: top;
}

.main-navigation a {
  font-family: "Cuprum";
  display: block;
  color: #ffffff;
  padding: 22px 30px;
  text-decoration: none;
}
.main-navigation a:hover {
  font-family: "Cuprum";
  display: block;
  padding: 22px 30px;
  color: #ffffff;
  text-decoration: none;
  background: #293449;
}
.main-navigation a:active {
  font-family: "Cuprum";
  display: block;
  padding: 22px 30px;
  color: #707782;
  text-decoration: none;
  background: #1d2739;
}
.container {
  margin: 0 auto;
}

.container .promo-item {
  width: 300px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.container .promo-block {
  margin-top: 60px;
  margin-bottom: 55px;
}
.container .promo-item-text {
  float: left;
  color: #ffffff;
  padding-left: 20px;
  padding-bottom: 25px;
}
.container .image-promo {
  float: right;
  padding-right: 20px;
  padding-top: 30px;
}

.container .item-tool {
  float: left;
  background: #4aafde;

}
.container .item-material {
  float: left;
  background: #f6b22d;

}
.container .item-tech {
  float: left;
  background: #cc79d1;
  margin-right: 0;

}
.container .item-discount {
  float: left;
  background: #85d179;
  margin-right: 0;
}
.container .item-delivery {
  float: left;
  background: #f6b22d;
  margin-right: 0;
}
.promo-item .btn {
  font-family: "Cuprum";
  padding: 15px 20px;
  width: 120px;
  font-size: 14px;
  float: left;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  color: #ffffff;
  box-shadow: inset 0 0 0 25px rgba(0,0,0,0.1);
}
.promo-item .btn:hover {
  font-family: "Cuprum";
  padding: 15px 20px;
  width: 120px;
  font-size: 14px;
  float: left;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  color: #ffffff;
  box-shadow: inset 0 0 0 25px rgba(0,0,0,0.2);
}
.promo-item .btn:active {
  font-family: "Cuprum";
  padding: 15px 20px;
  width: 120px;
  font-size: 14px;
  float: left;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  color: #ffffff;
  box-shadow: inset 0 0 0 25px rgba(0,0,0,0.3);
}
.headline
{
  height: 90px;
  background: #f7f3ec;
  margin-bottom: 20px;
}
.headline h2 {
  float: left;
  margin: 30px 35px;
}
.headline a {
  font-family: "Cuprum";
  margin: 25px;
  padding: 12px 55px;
  font-size: 14px;
  float: right;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
}
.headline a:hover {
  font-family: "Cuprum";
  margin: 25px;
  padding: 12px 55px;
  font-size: 14px;
  float: right;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: #ca2c37;
  border-radius: 3px;
}
.headline a:active {
  font-family: "Cuprum";
  margin: 25px;
  padding: 12px 55px;
  font-size: 14px;
  float: right;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: #ba2732;
  border-radius: 3px;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
.catalog-product {
  font-size: 0;
  margin: 0;
}

.popular-product {
  width: 960px;
  margin: 0px auto;
}
.catalog-product .product-item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  width: 220px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-weight: 600;
  border: 1px solid #cccccc;
  margin-right: 22px;
  margin-bottom: 20px;
}
.catalog-product .product-item:last-child {
  margin-right: 0;
  margin-left: 0;
}
.catalog-product .new:before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 60px;
  height: 60px;
  content: '';
  background:  url("../img/new-flag.png") no-repeat 0 0;
}
.product-item .product-item-controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: #ffffff;
}
.product-item:hover .product-item-controls {
  display: block;
}
.product-item:hover {
  box-shadow: 0 5px 15px 3px #b1b5bd;
}
.product-item-controls .buy,
.product-item-controls .bookmark {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  display: block;
  width: 135px;
  margin: 0 auto 7px;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  background-color: #63a63e;
}
.product-item-controls .buy {
  box-shadow: inset 0 -3px 0 #367315;
}
.product-item-controls .buy:hover {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  display: block;
  width: 135px;
  margin: 0 auto 7px;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  background-color: #5fbb2d;
  box-shadow: inset 0 -3px 0 #367315;
}
.product-item-controls .buy:active {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  display: block;
  width: 135px;
  margin: 0 auto 7px;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  background-color: #518534;
}

.product-item-controls .bookmark {
  width: 129px;
  padding: 7px 0;
  color: #32425c;
  border: 3px solid #63a63e;
  background-color: #ffffff;
}
.product-item-controls .bookmark:hover {
  width: 129px;
  padding: 7px 0;
  color: #32425c;
  border: 3px solid #32425c;
  background-color: #ffffff;
}
.product-item-controls .bookmark:active {
  width: 129px;
  padding: 7px 0;
  color: #c1c6ce;
  border: 3px solid #c1c6ce;
  background-color: #ffffff;
}
.product-item .product-item-controls {
  display: none;
}
.product-item-image {
  width: 220px;
  height: 170px;
  overflow: hidden;
  padding-top: 45px;
}

.product-item-image img {
  max-width: 100%;
}
.product-item .title {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.product-item a {
  text-decoration: none;
  color: #000000;
}
.product-item .old-price {
  min-height: 20px;
  margin: 10px 0;
  text-decoration: line-through;
  color: #999999;
}
.product-item .price {
  font-family: "PT Sans", "Arial", sans-serif;
  position: relative;
  width: 80px;
  margin: 0 auto 20px;
  padding: 10px 30px;
  color: #ffffff;
  border-radius: 3px;
  background: #ee3643;
  overflow: hidden;
}
.product-item .price:after {
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  content: '';
  border: 20px solid #000000;
  border: 20px solid #ffffff;
  border-left-color: #ee3643;
}
.popular-manufacutrer {
  font-size: 0;
}

.manufacturer-item {
  width: 220px;
  height: 145px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  display: inline-block;
  position: relative;
}
.manufacturer-item a {
  position: absolute;
  margin-top: 33px;
  width: 215px;
  text-align: center;
}
.manufacturer-item:hover {
  width: 220px;
  height: 145px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  display: inline-block;
  position: relative;
  box-shadow: 0 5px 15px 3px #b1b5bd;
}
.manufacturer-item:active {
  width: 220px;
  height: 145px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  display: inline-block;
  position: relative;
  opacity: 0.3;
}
.service {
  background: #f2f6f8;
}
.service .headline {
  height: 20px;
  padding: 70px 0 40px 10px;
  background-color: #f2f6f8;
}
.service .desc {
  margin-bottom: 70px;
}
.service p {
  font-size: 13px;
}
.sliders-item {
  position: relative;
}
.slider-item {
  width: 620px;
  height: 285px;
  background-repeat: no-repeat;
  background-position: 100% 10px;
  float: right;
}
.slider-item .btn {
  display: block;
  width: 110px;
  margin-top: 25px;
  padding: 15px 45px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background: #fb565a;
  border-radius: 3px;
}

.slider-item {
  display: none;
}

.slider-item:nth-child(1) {
  display: block;
}
.slider-number-list {
 float: left;
 margin-right: 80px;
}
.slider-group input[type="radio"] {
    display:none;
}
.slider-number-list label {
  font-family: "Cuprum", "PT Sans", "Arial", "sans-serif";
  background: #32425c;
  color: #ffffff;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  display: block;
  width: 110px;
  cursor: pointer;
  padding: 15px 120px 15px 25px;
}
.slider-number-list img {
  position: absolute;
  top: 75px;
  left: 245px;
}
#imagetape1:checked ~ .sliders-item .slider-item:nth-child(1) {
  display: block;
}

#imagetape2:checked ~ .sliders-item .slider-item:nth-child(2) {
  display: block;
}

#imagetape3:checked ~ .sliders-item .slider-item:nth-child(3) {
  display: block;
}

#imagetape1:checked ~ .slider-number-list label[for="imagetape1"],
#imagetape2:checked ~ .slider-number-list label[for="imagetape2"],
#imagetape3:checked ~ .slider-number-list label[for="imagetape3"] {
  background: #ffffff;
  color: #32425c;
}

.desc {
  width: 520px;
  float: left;
}
.information {
  margin-bottom: 90px;
}
.information p {
  font-family: "Cuprum", "PTSans";
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}
.desc ul {
  margin-left: 0;
  padding: 0;
  margin-bottom: 40px;
}
.desc li {
  font-family: "Cuprum", "PTSans";
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  list-style-type: none;
  padding-top: 25px;
}
.desc li::before {
  content: "—";
  color: #ee3643;
  padding-right: 10px;
}
.desc li:first-child {
  padding-top: 0;
}
.contacts p {
  margin-bottom: 10px;
}

.information .btn {
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
  margin: 0;

}
.information .btn:hover {
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: #ca2c37;
  border-radius: 3px;
  margin: 0;
}
.information .btn:active {
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: #ba2732;
  border-radius: 3px;
  margin: 0;
}
.desc a {
  width: 140px;
  padding: 15px 40px;
}
.contacts .map-place {
  width: 180px;
  padding: 15px 61px;
}
.contacts img {
  margin: 40px 0;
}
.information .contacts {
  width: 300px;
  float: right;
  margin: 0;
}

.main-footer {
  font-family: "Cuprum";
}
.main-footer .footer-block-1 {
  background: #32425c;
}
.main-footer .footer-block-2 {
  background: #293449;
}
.main-footer .item-logo {
  padding-top: 26px;
  float: left;
}
.main-footer .logo {
  padding: 20px 45px;
  font-size: 30px;
}
.main-footer .logo:hover {
  padding: 20px 45px;
  font-size: 30px;
}
.main-footer .logo:active {
  padding: 20px 45px;
  font-size: 30px;
}
.footer-nav {
  float: right;
  padding-top: 30px;
  margin-right: 10px;
}
.footer-nav ul {
  padding: 0;
}
.footer-contacts p {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  padding-left: 10px;
  width: 330px;
  margin-right: 0;
  float: left;
}
.main-footer .footer-contacts {
  width: 330px;
  padding-left: 10px;
  padding-bottom: 20px;
  float: left;
  margin-top: 50px;
}


.footer-nav-1 li{
  display: inline-block;
}

.footer-nav-2 li{
  display: inline-block;
}
.footer-nav-2 {
  padding-top: 13px;
  padding-left: 25px

}
.footer-nav-1 a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
}
.footer-nav-1 a:hover {
  color: #ffffff;
  text-decoration: underline;
  font-size: 18px;
  line-height: 24px;
}
.footer-nav-1 a:active {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.5;
}
.footer-nav a:not(.last) {
  margin-right: 55px;
}
.footer-nav-2 a {
  color: #ffd180;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
}
.footer-nav-2 a:hover {
  color: #ffd180;
  text-decoration: underline;
  font-size: 18px;
  line-height: 24px;
}
.footer-nav-2 a:active {
  color: #ffd180;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.5;
}
.main-footer .footer-copyright {
  font-size: 16px;
  width: 230px;
  float: left;
  color: #ffffff;
  margin-top: 35px;
  margin-left: 10px;
}
.main-footer .socials {
  float: left;
  padding-top: 35px;
  padding-left: 160px;
}
.social-btn {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0px 2px;
  vertical-align: top;
  text-decoration: none;
  color: #ffffff;
  border-radius: 50px;
  text-align: center;
  background: #212a3a;
}
.social-btn:hover {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0px 2px;
  vertical-align: top;
  text-decoration: none;
  color: #ffffff;
  border-radius: 50px;
  text-align: center;
  background: #ee3643;
}
.socials
.socials [class^="icon-"]::before,
.socials [class*=" icon-"]::before {
  position: absolute;
  top: 12px;
  left: 11px;
}
.link {
  float: right;
  padding-top: 35px;
}
.link p {
  color: #ffffff;
  font-size: 16px;
  margin: 0;
}
.link .mail {
  padding-right: 50px;
}
.link a {
  font-size: 16px;
  color: #ffd180;
  text-decoration: none;
}
.link a:hover {
  font-size: 16px;
  color: #ffd180;
  text-decoration: underline;
}
.link a:active {
  font-size: 16px;
  color: #ee3643;
  text-decoration: none;;
}
.link div {
  display: inline-block;
}

.personal-area {
  float: right;
  margin: 45px 10px 25px 0;
}
.personal a {
  font-family: "Cuprum";
  text-decoration: none;
  background: #ffffff;
  color: #000000;
  width: 275px;
  padding: 15px 10px 15px 15px;
}
.personal .user-name {
  font-size: 21px;
}
.personal .user-name:hover {
  font-size: 21px;
  color: #ef4350;
}
.personal .user-name:active {
  font-size: 21px;
  color: #c5c5c5;
}
.personal-area .icon-user {
  padding-right: 15px;
}
.personal-area .icon-user:hover {
  padding-right: 15px;
  color: #32425c;
}
.personal-area .icon-user:active {
  padding-right: 15px;
  color: #c5c5c5;
}
.personal-area .icon-login {
  padding-left: 15px;
}
.personal-area .icon-login:hover {
  padding-left: 15px;
  color: #32425c;
}
.personal-area .icon-login:active {
  padding-left: 15px;
  color: #c5c5c5;
}
.personal-link a {
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  display: inline-block;
  margin-top: 20px;
}
.personal-link a:hover {
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 24px;
  color: #ee434f;
  display: inline-block;
  margin-top: 20px;
}
.personal-link a:active {
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 24px;
  color: #c5c5c5;
  display: inline-block;
  margin-top: 20px;
}
.personal-link a:first-child {
    margin-left: 20px;
}
.breadcrumbs ul {
  padding: 0;
}
.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 13px;
}

.breadcrumbs .icon {
  color: #c1c6ce;
  font-size: 17px;
}
.headline-main
{
  height: 90px;
  background: #f2f6f8;
  margin-bottom: 0;
}
.filters h2 {
  font-family: "PT Sans";
  font-weight: 600;
  text-transform: uppercase;
  background: #f7f3ec;
  font-size: 13px;
  padding: 11px 0 11px 20px;
  margin-top: 20px;
}
.filter legend {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}
.filters {
  width: 220px;
  float:left;
}
.headline-catalog {
 background: #f7f3ec;
 margin-left: 240px;
 margin-top: 20px;
 text-transform: uppercase;
}
.headline-catalog h2 {
  font-family: "PT Sans";
  font-weight: 600;
  display: inline-block;
  font-size: 13px;
  margin-left: 20px;
  margin-right: 70px;
}
.headline-catalog a {
  font-size: 13px;
  color: #c4c1bb;
  text-decoration: none;
}

.headline-catalog .price, .type, .functional {
  margin-left: 70px;
  border-bottom: 1px dashed #ee3643;
}
.headline-catalog .functional {
  margin-right: 65px;
}
.headline-catalog .price:hover, .type:hover, .functional:hover {
  margin-left: 70px;
  border-bottom: 1px solid #ee3643;
  color: #000000;
}
.headline-catalog .price:active, .type:active, .functional:active {
  margin-left: 70px;
  border-bottom: 0;
  color: #ee3643;
}
.headline-catalog .ascending {
  font-size: 22px;
}
.headline-catalog .descending {
  font-size: 22px;
}
.headline-catalog .ascending:hover, .descending:hover {
  color: #000000;
}
.headline-catalog .ascending:active, .descending:active {
  color: #ee3643;
}
.catalog-item {
  width: 720px;
  margin-left: 240px;
  margin-top: 20px;
}
.catalog-item .price {
  padding: 9px 30px;
}
.catalog-item .product-item {
  margin-right: 26px;
  font-family: 'PT Sans';
}
.catalog-item .product-item:nth-child(3n+3) {
  margin-right: 0;
}
.paginator a {
  font-size: 13px;
  text-decoration: none;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  text-transform: uppercase;
  margin-right: 10px;
}
.paginator a:hover {
  font-size: 13px;
  text-decoration: none;
  color: #000000;
  border: 1px solid #bdc6ca;
  border-radius: 3px;
  text-transform: uppercase;
  margin-right: 10px;
}
.paginator a:active {
  font-size: 13px;
  text-decoration: none;
  color: #000000;
  border: 1px solid #ee3643;
  border-radius: 3px;
  text-transform: uppercase;
  margin-right: 10px;
}
.paginator .active{
  font-size: 13px;
  text-decoration: none;
  color: #ffffff;
  background: #ee3643;
  border: 0;
  border-radius: 3px;
  text-transform: uppercase;
  margin-right: 10px;
}
.paginator a:first-child {
  margin-left: 240px;
}
.paginator a:not(.next) {
  padding: 10px 15px;
}

.paginator .next {
  padding: 10px 25px;
}
.filters .price, .manufacturers, .power {
  border: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 15px;
  font-family: "PTSans";
}
.filters .price-selection {
  background: #f7f3ec;
}
.filters .output-area {
  display: inline-block;
  margin-top: 10px;
}
.filters .min {
  padding: 10px 45px;
  margin-right: 5px;
}
.filters .max {
  padding: 10px 25px;
  margin-left: 5px;
}
.filters label {
  cursor: pointer;
  text-transform: uppercase;
}
.filters input[type=radio], input[type=checkbox] {
  display: none;
}
.filters .manufacturers {
  height: 220px;
}
.filters .icon {
  color: #c1c1c1;
}
.about {

  background: #f2f6f8;
  margin: 0;
}
.about h1 {
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 60px;
  padding: 65px 0 0 10px;
}
.about p {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding:45px 0 75px 10px;
}
.filters .btn {
  background: #ffffff;
  text-transform: uppercase;
  border: 1px solid #c1c1c1;
  border-radius: 3px;
  padding: 15px 40px;
  font-size: 13px;
  font-family: "PTSans";
}

/* filter */
.filter {
  border: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  font-size: 15px;
  font-family: "PTSans";
}
.filter-title {
  font-family: "PT Sans";
  font-size: 16px;
  color: #000000;
  margin-bottom: 10px;
}
.filter-item {
  font-family: "PT Sans";
  font-size: 15px;
  color: #000000;
  text-transform: uppercase;
  padding: 7px 0;
  display: block;
}
.filter-item .icon {
  font-size: 20px;
}
.filter-item:first-child {
  padding-top: 0;
}
.filter-item:last-child {
  padding-bottom: 0;
}
.filter-separator {
  margin: 15px 0;
  border: 0;
  background-color: #e5e5e5;
  height: 1px;
}
.filter-submit {
  margin-top: 70px;
  cursor: pointer;
  background-color: #fff;
  width: 140px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  padding: 7px 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: "PT Sans";
  font-size: 13px;
  transition: background-color 0.2s linear;
}
.filter-submit:hover {
  background-color: #f7f7f7;
}

/* filter range */
.range {}
.range-separator {
  display: inline-block;
  text-align: center;
  width: 22px;
  color: #444;
}
.range-box {
  margin-bottom: 9px;
  width: 95px;
  height: 28px;
  padding-top: 10px;
  display: inline-block;
  background-color: #f7f3ec;
  font-family: "PT Sans";
  font-size: 17px;
  text-align: center;
}
.range-box.range-box--block {
  width: 100%;
}

/* slider */
.slider {
  position: relative;
  width: 620px;
  height: 300px;
  float: left;
  margin-right: 20px;
}
.slider input[type="radio"] {
  display: none;
}
.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  vertical-align: top;
  background: #ffffff;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls {
  position: absolute;
  bottom: 32px;
  left: 50%;
  width: 620px;
  margin-left: -50%;
  text-align: center;
}
.slide {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-inner {
  padding-top: 25px;
  padding-left: 27px;
}
.slide-title {
  font-family: "Cuprum";
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
}
.slide-content {
  font-family: "Cuprum";
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.slide-btn {
  position: absolute;
  bottom: 25px;
  display: block;
  width: 195px;
  height: 26px;
  padding-top: 12px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  background-color: #ee3643;
}
.slide-btn:hover {
  position: absolute;
  bottom: 25px;
  display: block;
  width: 195px;
  height: 26px;
  padding-top: 12px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  background-color: #ca2c37;
}
.slide-btn:active {
  position: absolute;
  bottom: 25px;
  display: block;
  width: 195px;
  height: 26px;
  padding-top: 12px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  background-color: #ba2732;
}
.slide {
  display: none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background-color: #fb565a;
}

@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal-content {
  display: none;
  width: 460px;
  top: 2520px;
  left: 50%;
  margin-left: -320px;
  padding: 50px 80px 40px 80px;
  color: #000000;
  background: #ffffff;
  position: absolute;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.7);

}

.modal-error {
  animation: shake 0.6s;
}

.modal-content::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 620px;
  height: 8px;
  background-color: #ee3643;
}
.modal-content-2::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 620px;
  height: 8px;
  background-color: #ee3643;
}
.modal-content-close {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 22px;
  height: 22px;
  background: #ffffff;
  font-size: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 1px;
  width: 20px;
  height: 3px;
  background-color: #ee3643;
  border-radius: 1px;
}
.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}
.modal-content label {
  display: block;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 15px;
}

.modal-content-show,
.modal-content-2.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}

.login-form input[type="text"],
 input[type="email"] {
  font-family: "PTSans", "Arial", sans-serif;
  width: 203px;
  height: 35px;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
  padding-left: 15px;

}
.login-form input {
  border: 1px solid #d7dcde;
  border-radius: 1px;
  vertical-align: middle;
}
.login-form .half-width {
  display: inline-block;
  margin-bottom: 25px;
}
.login-form .half-width:first-child {
  margin-right: 16px;
}
.login-form textarea {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
  width: 460px;
  border: 1px solid #d7dcde;
  border-radius: 1px;
  vertical-align: middle;
  margin-bottom: 75px;
}

.modal-content .btn {
  font-family: "Cuprum", "PTSans", "Arial", sans-serif;
  font-size: 14px;
  padding: 10px 200px;
  background: #ee3643;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow:
  -40px 0 0 40px #f1f1f1,
  38px 0 0 40px #f1f1f1 ;
  border: 0;
}
.modal-content .btn:hover {
  font-family: "Cuprum", "PTSans", "Arial", sans-serif;
  font-size: 14px;
  padding: 10px 200px;
  background: #ca2c37;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow:
  -40px 0 0 40px #f1f1f1,
  38px 0 0 40px #f1f1f1 ;
  border: 0;
}
.modal-content .btn:active {
  font-family: "Cuprum", "PTSans", "Arial", sans-serif;
  font-size: 14px;
  padding: 10px 200px;
  background: #ba2732;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow:
  -40px 0 0 40px #f1f1f1,
  38px 0 0 40px #f1f1f1 ;
  border: 0;
}
.modal-content-2 {
  width: 460px;
  top: 420px;
  left: 50%;
  margin-left: -300px;
  color: #000000;
  background: #ffffff;
  padding: 50px 80px 40px 80px;
  position: absolute;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.7);
  display: none;

}
.modal-content-2 .text {
  height: 170px;
}
.modal-content-2 .circle {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #63a63e;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;

}
.modal-content-2 .circle::before {
  content: "";
  position: absolute;
  top: 79px;
  left: 99px;
  width: 32px;
  height: 6px;
  background-color: #ffffff;
  transform: rotate(-45deg);
}
.modal-content-2 .circle::after {
  content: "";
  position: absolute;
  top: 84px;
  left: 94px;
  width: 16px;
  height: 6px;
  background-color: #ffffff;
  transform: rotate(45deg);
}
.modal-content-2 p {
  display: inline-block;
  font-size: 30px;
  line-height: 18px;
  margin-left: 40px;
  margin-bottom: 125px;
}
.modal-content-2 a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: #ee3643;
  padding: 10px 60px;
  margin-right: 17px;
  box-shadow: -40px 0 0 40px #f1f1f1, 180px 0 0 40px #f1f1f1;
}
.modal-content-2 a:hover {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: #ca2c37;
  padding: 10px 60px;
  margin-right: 17px;
  box-shadow: -40px 0 0 40px #f1f1f1, 180px 0 0 40px #f1f1f1;
}
.modal-content-2 a:active {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: #ba2732;
  padding: 10px 60px;
  margin-right: 17px;
  box-shadow: -40px 0 0 40px #f1f1f1, 180px 0 0 40px #f1f1f1;
}
.modal-content-2 .btn {
  font-family: "Cuprum", "PTSans", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  background: #ffffff;
  padding: 10px 45px;
  border: 0;
  font-weight: bold;
  box-shadow: 42px 0 0 40px #f1f1f1;
}
/* item search */
.item.item-search {
  width: 260px;
  padding-left: 10px;
  margin-top: 13px;
}
.item.item-search input {
  background-color: transparent;
  border: 0;
  font-size: 17px;
  color: #fff;
  font-family: "Cuprum";
}
.item.item-search input::-webkit-input-placeholder {color:#fff;opacity:1;}
.item.item-search input::-moz-placeholder          {color:#fff;opacity:1;}/* Firefox 19+ */
.item.item-search input:-moz-placeholder           {color:#fff;opacity:1;}/* Firefox 18- */
.item.item-search input:-ms-input-placeholder      {color:#fff;opacity:1;}
